## Creating timezone aware datetimes

In [1]:
# Import datetime, timezone
from datetime import datetime, timezone

# October 1, 2017 at 15:26:26, UTC
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=timezone.utc)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26+00:00

In [2]:
# Import datetime, timedelta, timezone
from datetime import datetime, timedelta, timezone

# Create a timezone for Pacific Standard Time, or UTC-8
pst = timezone(timedelta(hours=-8))

# October 1, 2017 at 15:26:26, UTC-8
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=pst)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26-08:00

In [3]:
# Import datetime, timedelta, timezone
from datetime import datetime, timedelta, timezone

# Create a timezone for Australian Eastern Daylight Time, or UTC+11
aedt = timezone(timedelta(hours=+11))

# October 1, 2017 at 15:26:26, UTC+11
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=aedt)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26+11:00

## Setting timezones

In [7]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('capital-onebike.csv')
df.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [8]:
# Write down the format string
fmt = "%Y-%m-%d %H:%M:%S"

# Initialize a list for holding the pairs of datetime objects
onebike_datetimes = []

# Loop over all trips
for i in range(df.shape[0]):
    start = df['Start date'][i]
    end = df['End date'][i]
    trip = {'start': datetime.strptime(start, fmt),
            'end': datetime.strptime(end, fmt)}
  
    # Append the trip
    onebike_datetimes.append(trip)

In [9]:
# Create a timezone object corresponding to UTC-4
edt = timezone(timedelta(hours=-4))

# Loop over trips, updating the start and end datetimes to be in UTC-4
for trip in onebike_datetimes[:10]:
    # Update trip['start'] and trip['end']
    trip['start'] = trip['start'].replace(tzinfo=edt)
    trip['end'] = trip['end'].replace(tzinfo=edt)

In [10]:
onebike_datetimes[:10]

[{'start': datetime.datetime(2017, 10, 1, 15, 23, 25, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 1, 15, 26, 26, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 1, 15, 42, 57, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 1, 17, 49, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 2, 6, 37, 10, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 2, 6, 42, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 2, 8, 56, 45, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 2, 9, 18, 3, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 2, 18, 23, 48, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 2, 18, 45, 5, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 2, 18, 48, 8, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 2, 19, 10, 54, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 2, 19, 18, 10, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 2, 19, 31, 45, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 2, 19, 37, 32, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 2, 19, 46, 37, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 3, 8, 24, 16, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 3, 8, 32, 27, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))},
 {'start': datetime.datetime(2017, 10, 3, 18, 17, 7, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
  'end': datetime.datetime(2017, 10, 3, 18, 27, 46, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))}]

In [12]:
onebike_datetimes[10:11]

[{'start': datetime.datetime(2017, 10, 3, 19, 24, 10),
  'end': datetime.datetime(2017, 10, 3, 19, 52, 8)}]

## What time did the bike leave in UTC?

In [14]:
# Loop over the trips
for trip in onebike_datetimes[:10]:
    # Pull out the start
    dt = trip['start']
    # Move dt to be in UTC
    dt = dt.replace(tzinfo=timezone.utc)

    # Print the start time in UTC
    print('Original:', trip['start'], '| UTC:', dt.isoformat())

Original: 2017-10-01 15:23:25-04:00 | UTC: 2017-10-01T15:23:25+00:00
Original: 2017-10-01 15:42:57-04:00 | UTC: 2017-10-01T15:42:57+00:00
Original: 2017-10-02 06:37:10-04:00 | UTC: 2017-10-02T06:37:10+00:00
Original: 2017-10-02 08:56:45-04:00 | UTC: 2017-10-02T08:56:45+00:00
Original: 2017-10-02 18:23:48-04:00 | UTC: 2017-10-02T18:23:48+00:00
Original: 2017-10-02 18:48:08-04:00 | UTC: 2017-10-02T18:48:08+00:00
Original: 2017-10-02 19:18:10-04:00 | UTC: 2017-10-02T19:18:10+00:00
Original: 2017-10-02 19:37:32-04:00 | UTC: 2017-10-02T19:37:32+00:00
Original: 2017-10-03 08:24:16-04:00 | UTC: 2017-10-03T08:24:16+00:00
Original: 2017-10-03 18:17:07-04:00 | UTC: 2017-10-03T18:17:07+00:00

In [17]:
# Loop over the trips
for trip in onebike_datetimes[:10]:
    # Pull out the start
    dt = trip['start']
    # Move dt to be in UTC
    dt = dt.astimezone(timezone.utc)

    # Print the start time in UTC
    print('Original:', trip['start'], '| UTC:', dt.isoformat())

Original: 2017-10-01 15:23:25-04:00 | UTC: 2017-10-01T19:23:25+00:00
Original: 2017-10-01 15:42:57-04:00 | UTC: 2017-10-01T19:42:57+00:00
Original: 2017-10-02 06:37:10-04:00 | UTC: 2017-10-02T10:37:10+00:00
Original: 2017-10-02 08:56:45-04:00 | UTC: 2017-10-02T12:56:45+00:00
Original: 2017-10-02 18:23:48-04:00 | UTC: 2017-10-02T22:23:48+00:00
Original: 2017-10-02 18:48:08-04:00 | UTC: 2017-10-02T22:48:08+00:00
Original: 2017-10-02 19:18:10-04:00 | UTC: 2017-10-02T23:18:10+00:00
Original: 2017-10-02 19:37:32-04:00 | UTC: 2017-10-02T23:37:32+00:00
Original: 2017-10-03 08:24:16-04:00 | UTC: 2017-10-03T12:24:16+00:00
Original: 2017-10-03 18:17:07-04:00 | UTC: 2017-10-03T22:17:07+00:00

## Putting the bike trips into the right time zone

In [19]:
# Import tz
from dateutil import tz

# Create a timezone object for Eastern Time
et = tz.gettz('America/New_York')

# Loop over trips, updating the datetimes to be in Eastern Time
for trip in onebike_datetimes[:10]:
    # Update trip['start'] and trip['end']
    trip['start'] = trip['start'].replace(tzinfo=et)
    trip['end'] = trip['end'].replace(tzinfo=et)

In [20]:
onebike_datetimes[:10]

[{'start': datetime.datetime(2017, 10, 1, 15, 23, 25, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 1, 15, 26, 26, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 1, 15, 42, 57, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 1, 17, 49, 59, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 2, 6, 37, 10, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 2, 6, 42, 53, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 2, 8, 56, 45, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 2, 9, 18, 3, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 2, 18, 23, 48, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 2, 18, 45, 5, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 2, 18, 48, 8, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 2, 19, 10, 54, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 2, 19, 18, 10, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 2, 19, 31, 45, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 2, 19, 37, 32, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 2, 19, 46, 37, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 3, 8, 24, 16, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 3, 8, 32, 27, tzinfo=tzfile('US/Eastern'))},
 {'start': datetime.datetime(2017, 10, 3, 18, 17, 7, tzinfo=tzfile('US/Eastern')),
  'end': datetime.datetime(2017, 10, 3, 18, 27, 46, tzinfo=tzfile('US/Eastern'))}]

## What time did the bike leave? (Global edition)

In [21]:
# Create the timezone object
uk = tz.gettz('Europe/London')

# Pull out the start of the first trip
local = onebike_datetimes[0]['start']

# What time was it in the UK?
notlocal = local.astimezone(uk)

# Print them out and see the difference
print(local.isoformat())
print(notlocal.isoformat())

2017-10-01T15:23:25-04:00
2017-10-01T20:23:25+01:00

In [22]:
# Create the timezone object
ist = tz.gettz('Asia/Kolkata')

# Pull out the start of the first trip
local = onebike_datetimes[0]['start']

# What time was it in India?
notlocal = local.astimezone(ist)

# Print them out and see the difference
print(local.isoformat())
print(notlocal.isoformat())

2017-10-01T15:23:25-04:00
2017-10-02T00:53:25+05:30

In [23]:
# Create the timezone object
sm = tz.gettz('Pacific/Apia')

# Pull out the start of the first trip
local = onebike_datetimes[0]['start']

# What time was it in Samoa?
notlocal = local.astimezone(sm)

# Print them out and see the difference
print(local.isoformat())
print(notlocal.isoformat())

2017-10-01T15:23:25-04:00
2017-10-02T09:23:25+14:00

## How many hours elapsed around daylight saving?

In [24]:
# Import datetime, timedelta, tz, timezone
from datetime import datetime, timedelta, timezone
from dateutil import tz

# Start on March 12, 2017, midnight, then add 6 hours
start = datetime(2017, 3, 12, tzinfo = tz.gettz('America/New_York'))
end = start + timedelta(hours=6)
print(start.isoformat() + " to " + end.isoformat())

2017-03-12T00:00:00-05:00 to 2017-03-12T06:00:00-04:00

In [25]:
# Import datetime, timedelta, tz, timezone
from datetime import datetime, timedelta, timezone
from dateutil import tz

# Start on March 12, 2017, midnight, then add 6 hours
start = datetime(2017, 3, 12, tzinfo = tz.gettz('America/New_York'))
end = start + timedelta(hours=6)
print(start.isoformat() + " to " + end.isoformat())

# How many hours have elapsed?
print((end - start).total_seconds()/(60*60))

2017-03-12T00:00:00-05:00 to 2017-03-12T06:00:00-04:00
6.0

In [26]:
# Import datetime, timedelta, tz, timezone
from datetime import datetime, timedelta, timezone
from dateutil import tz

# Start on March 12, 2017, midnight, then add 6 hours
start = datetime(2017, 3, 12, tzinfo = tz.gettz('America/New_York'))
end = start + timedelta(hours=6)
print(start.isoformat() + " to " + end.isoformat())

# How many hours have elapsed?
print((end - start).total_seconds()/(60*60))

# What if we move to UTC?
print((end.astimezone(timezone.utc) - start.astimezone(timezone.utc))\
      .total_seconds()/(60*60))

2017-03-12T00:00:00-05:00 to 2017-03-12T06:00:00-04:00
6.0
5.0

## March 29, throughout a decade

In [27]:
# Import datetime and tz
from datetime import datetime
from dateutil import tz

# Create starting date
dt = datetime(2000, 3, 29, tzinfo = tz.gettz('Europe/London'))

# Loop over the dates, replacing the year, and print the ISO timestamp
for y in range(2000, 2011):
    print(dt.replace(year=y).isoformat())

2000-03-29T00:00:00+01:00
2001-03-29T00:00:00+01:00
2002-03-29T00:00:00+00:00
2003-03-29T00:00:00+00:00
2004-03-29T00:00:00+01:00
2005-03-29T00:00:00+01:00
2006-03-29T00:00:00+01:00
2007-03-29T00:00:00+01:00
2008-03-29T00:00:00+00:00
2009-03-29T00:00:00+00:00
2010-03-29T00:00:00+01:00

## Finding ambiguous datetimes

In [33]:
# Loop over trips
for trip in onebike_datetimes:
    trip['start'] = trip['start'].astimezone(tz.gettz('America/New_York'))
    trip['end'] = trip['end'].astimezone(tz.gettz('America/New_York'))
    # Rides with ambiguous start
    if tz.datetime_ambiguous(trip['start']):
        print("Ambiguous start at " + str(trip['start']))
    # Rides with ambiguous end
    if tz.datetime_ambiguous(trip['end']):
        print("Ambiguous end at " + str(trip['end']))

Ambiguous start at 2017-11-05 01:56:50-05:00
Ambiguous end at 2017-11-05 01:01:04-05:00

## Cleaning daylight saving data with fold

In [36]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('capital-onebike.csv')
df.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [37]:
# Write down the format string
fmt = "%Y-%m-%d %H:%M:%S"

# Initialize a list for holding the pairs of datetime objects
onebike_datetimes = []

# Loop over all trips
for i in range(df.shape[0]):
    start = df['Start date'][i]
    end = df['End date'][i]
    trip = {'start': datetime.strptime(start, fmt),
            'end': datetime.strptime(end, fmt)}
  
    # Append the trip
    onebike_datetimes.append(trip)

In [43]:
trip_durations = []
for trip in onebike_datetimes:
    
    # Convert to UTC
    start = trip['start'].astimezone(timezone.utc)
    end = trip['end'].astimezone(timezone.utc)

    # When the start is later than the end, set the fold to be 1
    if start > end:
        end = tz.enfold(end)

    # Subtract the difference
    trip_length_seconds = (end-start).total_seconds()
    trip_durations.append(trip_length_seconds)

# Take the shortest trip duration
print("Shortest trip: " + str(min(trip_durations)))

Shortest trip: 116.0