In [2]:
import pandas as pd
airlines = pd.read_csv('airlines_final.csv', index_col=0)
airlines.head()

,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,2018-12-31,115.0,Clean,Neutral,Very satisfied
1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,2018-12-31,135.0,Clean,Very safe,Very satisfied
2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,2018-12-31,70.0,Average,Somewhat safe,Neutral
3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,2018-12-31,190.0,Clean,Very safe,Somewhat satsified
4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,2018-12-31,559.0,Somewhat clean,Very safe,Somewhat satsified

## Finding consistency

In [10]:
categories = ['Clean', 'Somewhat clean', 'Somewhat dirty', 'Dirty']

In [11]:
set(airlines['cleanliness'])

{'Average', 'Clean', 'Dirty', 'Somewhat clean', 'Somewhat dirty'}

In [13]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories)

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

        id        day      airline   destination    dest_region   dest_size  \
2     2820   Thursday        DELTA   LOS ANGELES        West US         Hub
10    3028    Tuesday       UNITED      PORTLAND        West US      Medium
20     767   Thursday   AIR CANADA       TORONTO  Canada/Mexico         Hub
21    1214    Tuesday    SOUTHWEST     LAS VEGAS        West US         Hub
23    1263   Thursday  UNITED INTL  TOKYO-NARITA           Asia         Hub
...    ...        ...          ...           ...            ...         ...
2770  2827    Tuesday       UNITED       BURBANK        West US       Small
2784   366     Friday    LUFTHANSA     FRANKFURT         Europe         Hub
2785  1179   Thursday        DELTA  NEW YORK-JFK        East US         Hub
2792  2171  Wednesday     FRONTIER        DENVER        West US         Hub
2795   820     Sunday       ALASKA      PORTLAND        West US      Medium

     boarding_area   dept_time  wait_min cleanliness         safety  \
2      Gates 40-48  2018-12-31      70.0     Average  Somewhat safe
10     Gates 70-90  2018-12-31     180.0     Average      Very safe
20    Gates 91-102  2018-12-31     115.0     Average        Neutral
21     Gates 20-39  2018-12-31      60.0     Average  Somewhat safe
23    Gates 91-102  2018-12-31     210.0     Average        Neutral
...            ...         ...       ...         ...            ...
2770   Gates 70-90  2018-12-31      93.0     Average        Neutral
2784  Gates 91-102  2018-12-31     180.0     Average        Neutral
2785   Gates 40-48  2018-12-31     120.0     Average  Somewhat safe
2792   Gates 20-39  2018-12-31     108.0     Average      Very safe
2795   Gates 50-59  2018-12-31     170.0     Average        Neutral

              satisfaction
2                  Neutral
10                 Neutral
20      Somewhat satsified
21      Somewhat satsified
23                 Neutral
...                    ...
2770    Somewhat satsified
2784    Somewhat satsified
2785               Neutral
2792    Somewhat satsified
2795  Somewhat unsatisfied

[389 rows x 12 columns]
        id        day        airline        destination    dest_region  \
0     1351    Tuesday    UNITED INTL             KANSAI           Asia
1      373     Friday         ALASKA  SAN JOSE DEL CABO  Canada/Mexico
3     1157    Tuesday      SOUTHWEST        LOS ANGELES        West US
4     2992  Wednesday       AMERICAN              MIAMI        East US
5      634   Thursday         ALASKA             NEWARK        East US
...    ...        ...            ...                ...            ...
2804  1475    Tuesday         ALASKA       NEW YORK-JFK        East US
2805  2222   Thursday      SOUTHWEST            PHOENIX        West US
2806  2684     Friday         UNITED            ORLANDO        East US
2807  2549    Tuesday        JETBLUE         LONG BEACH        West US
2808  2162   Saturday  CHINA EASTERN            QINGDAO           Asia

     dest_size boarding_area   dept_time  wait_min     cleanliness  \
0          Hub  Gates 91-102  2018-12-31     115.0           Clean
1        Small   Gates 50-59  2018-12-31     135.0           Clean
3          Hub   Gates 20-39  2018-12-31     190.0           Clean
4          Hub   Gates 50-59  2018-12-31     559.0  Somewhat clean
5          Hub   Gates 50-59  2018-12-31     140.0  Somewhat clean
...        ...           ...         ...       ...             ...
2804       Hub   Gates 50-59  2018-12-31     280.0  Somewhat clean
2805       Hub   Gates 20-39  2018-12-31     165.0           Clean
2806       Hub   Gates 70-90  2018-12-31      92.0           Clean
2807     Small    Gates 1-12  2018-12-31      95.0           Clean
2808     Large    Gates 1-12  2018-12-31     220.0           Clean

             safety        satisfaction
0           Neutral      Very satisfied
1         Very safe      Very satisfied
3         Very safe  Somewhat satsified
4         Very safe  Somewhat satsified
5         Very safe      Very satisfied
...             ...                 ...
2804        Neutral  Somewhat satsified
2805      Very safe      Very satisfied
2806      Very safe      Very satisfied
2807  Somewhat safe      Very satisfied
2808      Very safe  Somewhat satsified

[2088 rows x 12 columns]

## Inconsistent categories

In [15]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip(' ')

# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']
['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' 'Medium' 'Large']

## Remapping categories

In [17]:
import numpy as np

In [18]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

## Removing titles and taking names

In [ ]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss","")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

## Keeping it descriptive

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])